/* Trying color palettes */

/* Styling for the entire page */
body {
	background-color: #F6F6F6;
	/* styling font */
	color:  #000000 ;
	font-family: 'Times New Roman', Times, serif;
}

/* Styling for big headers */
h1 {
	color: #11117C;
	text-align: center;
}

/* styling for paragraph text */
p {
	padding: 10px;
}

img.custom_img {
	width: 40%;
	/* center image */
	display: block;
	margin: auto;
}

/* Styling for links */
a {
	color: #0000FF;
}

a:visited {
	color: #660033;
}

a:hover {
	color: #0000CC;
}

/* margin only for the body element */

body { 
	margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 120px;
  margin-left: 100px;padding:10
}

/* margin */

/* p {
	margin: 25px;
  } */